<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
    <title>Stock Price Data</title>
</head>
<body>
    <div class="m">
        <div class="menubar">
                    <ul>
                        <li><a class="active up" id="home" href="{{ url_for('index')}}">Home</a></li>
                        <li><a class="up" id="status" href="{{ url_for('get_data')}}">Status</a></li>
                        <li><a class="up" >Contact</a></li>
                        <li><a class="up" >About</a></li>
                    </ul>
        </div>
    <h1>Stock Price Data</h1>
    <table>
        <thead>
            <tr>
                <th>Ticker</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for ticker, price in data.items() %}
            <tr>
                <td>{{ ticker }}</td>
                <td>{{ price }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
