<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sold Stocks</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='main.css') }}">
</head>
<body>
    <div class="circle-follower" id="circle-follower"></div>
    <!-- Add the center point element -->
    <div class="center-point"></div>
    <script>
        var circleFollower = document.getElementById('circle-follower');

document.addEventListener("mousemove", function(event) {
    var mouseX = event.clientX;
    var mouseY = event.clientY;

    circleFollower.style.left = mouseX + "px";
    circleFollower.style.top = mouseY + "px";
});
    </script>
    <div class="m">
        <div class="menubar">
            <ul>
                <li><a class="active up" id="home" href="{{ url_for('index')}}">Home</a></li>
                <li><a class="up" id="status" href="{{ url_for('b')}}">Status</a></li>
                <li><a class="up" id="sold" href="{{ url_for('sold_stocks')}}">Sold Stocks</a></li>
                <li><a class="up" id="about" href="{{ url_for('about')}}">About</a></li>
                <li><a class="up" id="contact" href="{{ url_for('contact')}}" >Contact</a></li>
            </ul>
        </div>
        <div class="container">
            <h1>Investment History</h1>
            <table>
                <thead>
                    <tr>
                        <th>Company Name</th>
                        <th>Quantity Sold</th>
                        <th>Invested Amount</th>
                        <th>Profit/Loss Made</th>

                    </tr>
                </thead>
                <tbody>
                    {% for item in sold_stocks %}
                    <tr>
                        <td>{{ item.company_name }}</td>
                        <td>{{ item.quantity_sold }}</td>
                        <td>₹{{ item.total_price | round(2)}}</td>
                        <td class="{% if item.profit_loss >= 0 %}profit-green{% else %}loss-red{% endif %}">₹{{ item.profit_loss }}</td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
