body{
    background-color: lightskyblue;
}
.main{
    width: 100%;
    height: 100vh;
    margin: 0px;
    border: 2px solid black;
    display:block;
    align-items: center;
    align-self: center;
}
.menubar{
    display: flex;
    align-items: center;
    align-self: center;
    height: 30vh;
    width: 100%;
}
.logo{
    height: 50px;
    width: 50px;
}
img{
    height: 50px;
    width: 50px;
}
